div.sidebar {
  width: 100px;
  height: 500px;
  background-color: blue;
  color:orange;
  float: left;
}

#hidethesidebar{
  display:none;
  color:blue;
  text-decoration: underline;
}

#showthesidebar{
  color:blue;
  text-decoration: underline;
}
