.imgdiv{
  text-align: center;
}


.warthogstoggle{
  display:none;
  color:green;
  text-decoration: underline;
  cursor: pointer;
}
.warthogs{
  display:none;
}


.vervetmonkeystoggle{
  display:none;
  color:green;
  text-decoration: underline;
  cursor: pointer;
}
.vervetmonkeys{
  display:none;
}


.honeybadgerstoggle{
  display:none;
  color:green;
  text-decoration: underline;
  cursor: pointer;
}
.honeybadgers{
  display:none;
}


img{
  padding-top: 10px;
}

h1{
  margin-top: 0;
}


.default{
  display:block;
}
